/* el-image */
.el-image{
    width: 100%;
    height: 100%;
}
/* el-pagination */
.el-pagination.is-background .el-pager li:not(.disabled).active{
    background-color: #fa2800;
    color: #FFF;
  }
  
.el-pagination.is-background .el-pager li:not(.disabled):hover{
    color: #fa2800;
}

.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
    color: #fff;
}